.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group label {
    display: none; /* Ẩn nhãn hoàn toàn */
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #64748b;
    font-size: 0.95rem;
}

input[type="file"].form-control {
    padding: 6px 15px;
    height: auto;
}

.card-container img {
    max-width: 150px;
    border-radius: 8px;
    margin-top: 10px;
}
